<h1>New Invoice</h1>

<%= render 'form', invoice: @invoice %>

<%= link_to 'Back', invoices_path %>

select project from list of projects
"send" rather than "create invoice"
send via email - save for record keeping
sent date is created_at auto
hayah!